body {
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/95/14/94/951494e942ab734f98a9d409e57fec61.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}


#title {
    align-items: center;
    background-color: rgb(216, 112, 193);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    height: 10vw;
    justify-content: center;
    margin: 200px 10px 10px 10px;
    width: 80vw;
}

#artist {
    align-items: center;
    background-color: rgb(253, 186, 0);
    display: flex;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    height: 8vw;
    justify-content: center;
    margin: 0px 10px 10px 10px;
    width: 80vw;
}

#button {
    background-color: rgb(104, 176, 235);
    border-color: rgb(91, 42, 170);
    border-width: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    height: 5vw;
    width: 10vw;
}

#button:hover {
    background-color: white;
    color: black;
}
